.alert__email {
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 3px;
}

.import__success {
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 3px;
    width: 22rem;
    margin: 0 auto;
    text-align: left;
}

.register__content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 10vh 1rem;
    background-color: #f2f2f2;
    min-height: 100vh;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
}

.card {
    margin: 3rem 0 1rem 1rem;
    height: 20rem;
    width: 25rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border: none;
}

.register-form__heading {
    text-align: left;
    padding: 15px 20px;
    color: #fff;
    background-color: #305dff;
    border-radius: 5px 5px 0 0;
    border: none;
}

.register-form__heading-text {
    font-size: 16px;
}

.form {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__error {
    height: 18px;
    font-size: 14px;
    color: #ff0000;
    width: 80%;
    margin-left: 16%;
    text-align: left;
}

.form__input--text input {
    appearance: none;
    width: 75%;
    height: 36px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    border-radius: 0;
}

.form__input--text::before {
    content: "";
    font-family: "FontAwesome";
    padding: 5px 10px;
    font-size: 1.5rem;
    vertical-align: middle;
}

.import-csv__title {
    width: 22rem;
    margin: 1rem auto 0.5rem;
    text-align: left;
}

.import-csv {
    display: flex;
    justify-content: center; /* アイテムを左端から配置 */
    gap: 5px; /* アイテム間の隙間 */
}

.form-file {
    font-size: 14px;
    font-weight: 500;
    width: 10rem;
    border-radius: 3px;
}

.form-file::file-selector-button {
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 5px;
    background: #305dff;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__button-csv {
    width: 6rem;
    height: 32px;
    border: none;
    border-radius: 5px;
    background: #305dff;
    color: #fff;
    cursor: pointer;
}

.import-csv__description {
    margin: 0.5rem auto;
    text-align: left;
    width: 22rem;
}

.input__name::before {
    content: "\f007";
}

.input__email::before {
    content: "\f0e0";
}

.input__password::before {
    content: "\f023";
}

.form__button {
    margin-left: 74%;
    margin-top: 10px;
}

.form__button-submit {
    width: 4rem;
    height: 32px;
    border: none;
    border-radius: 5px;
    background: #305dff;
    color: #fff;
    cursor: pointer;
}

/* s ユーザー一覧 */

.owner__content {
    margin-top: 2rem;
    padding-left: 7%;
    background-color: #f2f2f2;
    width: 50rem;
}

/* s 検索 */
.search-form {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    height: 32px;
}

.search-form__item-select {
    padding: 5px;
    width: 20%;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.search-form__keyword-input {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    width: 40%;
    border: 1px solid #e3ded9;
    background-color: #fbfbfb;
}

.search-form__search-btn,
.search-form__reset-btn {
    padding: 4px;
    width: 70px;
}

/* e 検索 */

/* sテーブル */
.owner__table {
    margin: 0 auto;
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
}

.label {
    background-color: #f2f2f2;
    color: #000;
    text-align: left;
    font-weight: bold;
}

/* sラベルとデータ共通 */
.label,
.data {
    font-weight: bold;
    padding: 12px 8px;
    border-top: 1px solid;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* テキストがはみ出した場合に...で省略表示 */
}

.owner__label-ID,
.owner__data-ID {
    width: 8%;
}

.owner__label-name,
.owner__data-name {
    width: 20%;
}

.owner__label-email,
.owner__data-email {
    width: 45%;
}

.owner__label-role,
.owner__data-role {
    width: 15%;
}
.owner__label-mail,
.owner__data-mail {
    width: 12%;
}

/* s mail button */
.mail__button {
    border: none;
}

.la-envelope {
    font-size: 1.5rem;
    color: #305dff;
    vertical-align: middle;
}
/* e mail button */
/* eラベルとデータ共通 */
/* eテーブル */

/* s モーダル共通 */
.modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px 10px;
    text-align: center;
}

.modal-wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s, visibility 0.1s;
}

.modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s, visibility 0.1s;
}

.modal-wrapper::after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.modal-wrapper .modal-window {
    box-sizing: border-box;
    display: inline-block;
    z-index: 20;
    position: relative;
    width: 450px;
    max-width: 600px;
    padding: 30px 30px 15px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    vertical-align: middle;
}

.modal-wrapper .modal-window .modal-content {
    max-height: 80vh;
    overflow-y: auto;
    text-align: left;
}

.modal-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.modal-wrapper .modal-close {
    z-index: 20;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    color: #95979c !important;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}

.modal-wrapper .modal-close:hover {
    color: #2b2e38 !important;
}
/* e モーダル共通 */

/* s mailモーダル */
.mail-modal__title {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

.mail-modal__table {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}

.mail-modal__row {
    height: 1.7rem;
    font-size: 1rem;
}

.mail-modal__label {
    width: 20%;
}

.mail-modal__data {
    width: 80%;
    font-weight: bold;
}

.mail-modal__button {
    display: block;
    border: none;
    background-color: #2384cf;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    width: 7rem;
    height: 3rem;
    border-radius: 3px;
    margin: 20px auto;
}

.mail__data-subject {
    width: 100%;
}

.mail__data-content {
    height: 10rem;
    width: 100%;
}

.form__user-name {
    border: none;
}

.form__error-email {
    font-size: 1rem;
    color: red;
    text-align: left;
}
/* e mailモーダル */

/* e ユーザー一覧 */

/* 768px以下 */
@media screen and (max-width: 768px) {
    .register__content {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0 auto;
        padding: 10vh 0;
        background-color: #f2f2f2;
        min-height: 100vh;
    }

    .owner__content {
        margin: 0 auto;
        margin-top: 4rem;
        padding-left: 0%;
        background-color: #f2f2f2;
        width: 100vw;
    }
    .card {
        margin: 5rem auto 1rem;
        height: 20rem;
        width: 22rem;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        background-color: #fff;
        border: none;
    }
    .search-form {
        display: flex;
        justify-content: space-around;
        gap: 2px;
        height: 32px;
        width: 22rem;
    }
    .search-form__item-select {
        width: 25%;
    }
    .search-form__keyword-input {
        width: 35%;
    }
}
