.comment__wrap {
    position: relative;
    background-color: #f2f2f2;
}

.btn__back {
    position: absolute;
    left: 5%;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #fff;
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 10%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.shop-name {
    padding-top: 6rem;
    text-align: center;
}

.shop-name__content {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
}

/* s reservation */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 2rem;
    padding-right: 2rem;
}

.reservation__title {
    padding: 0 4rem;
}

.reservation__title-content {
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
}

.wrap__table {
    position: relative;
    width: 80%;
    background-color: #d0dad5;
    margin: 1.5rem 4rem;
    padding: 1rem;
    color: #000;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.clock__icon {
    width: 1.5rem;
}

.table__title {
    vertical-align: middle;
    padding-top: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}

.la-edit {
    font-size: 2rem;
    position: absolute;
    top: 6%;
    right: 20%;
    color: #fff;
}

.la-times-circle {
    font-size: 2rem;
    position: absolute;
    top: 7%;
    right: 5%;
    color: #fff;
}

.reservation__table {
    margin-top: 1rem;
    width: 100%;
}

.reservation__row {
    height: 1.7rem;
    font-size: 1.2rem;
}

.reservation__label {
    width: 32%;
}

.reservation__data {
    width: 68%;
    font-weight: bold;
}

/* 768px以下 */
@media screen and (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .wrap__table {
        position: relative;
        width: 100%;
        background-color: #d0dad5;
        margin: 1.5rem auto;
        padding: 1rem;
        color: #000;
        box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
    }
}

