.horizontal-line {
    margin-left: 4rem;
    width: 90%;
    height: 1px;
    background-color: #000;
    border: none;
}

.horizontal-line--bottom {
    margin-left: 4rem;
    margin-top: 20px;
    width: 90%;
    height: 1px;
    background-color: #000;
    border: none;
}

.detail__container {
    display: flex;
    background-color: #f2f2f2;
}

/* s detail  */
.shop__detail {
    width: 50vw;
    background-color: #f2f2f2;
    margin: 5.5rem auto 0;
    position: relative;
}

.detail__wrap {
    display: flex;
}

.detail__btn-move {
    margin-left: 4rem;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #fff;
    border: none;
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    border-radius: 10%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 0; /* パディングをリセット */
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__name {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 25px;
}

.detail__img {
    margin-left: 4rem;
}

.detail__img--reviewed {
    margin-top: 2rem;
}

.card__image-img {
    width: 40vw;
    height: 45vh;
    object-fit: cover;
}

.card__image-img--reviewed {
    width: 40vw;
    height: 20vh;
    object-fit: cover;
}

.detail__content {
    margin-left: 2.5rem;
    padding: 15px 25px;
}

.tag {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.detail__area {
    display: inline-block;
}

.detail__genre {
    display: inline-block;
    margin-left: 10px;
}

.detail__overview {
    font-size: 16px;
    font-weight: bold;
    margin-left: 2.5rem;

    padding: 0px 25px 0px 25px;
}

.detail__review {
    font-size: 16px;
    font-weight: bold;
    margin-left: 2.5rem;
    padding: 10px 25px 0px 25px;
}

.detail__review-link-all {
    display: block;
    width: 90%;
    padding: 0.5rem 0;
    margin-top: 1rem;
    margin-left: 4rem;
    background-color: #305dff;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.detail__review-wrapper {
    display: flex;
    justify-content: right;
    gap: 1rem;
}

.detail__review-link {
    color: #000;
    font-weight: bold;
}

.detail__review-button {
    padding: 0;
    border: none;
    color: #000;
    font-weight: bold;
    text-decoration: underline;
    background: none;
    cursor: pointer;
}

/* s ★５の表示 */
.detail__review-rating {
    margin-left: 4rem;
}

.star5_rating {
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #d3d3d3;
    font-size: 30px;
}

.star5_rating:before,
.star5_rating:after {
    content: "★★★★★";
}

.star5_rating:after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #305dff;
}

.star5_rating[data-rate="5"]:after {
    width: 100%;
} /* 星5 */
.star5_rating[data-rate="4"]:after {
    width: 80%;
} /* 星4 */
.star5_rating[data-rate="3"]:after {
    width: 60%;
} /* 星3 */
.star5_rating[data-rate="2"]:after {
    width: 40%;
} /* 星2 */
.star5_rating[data-rate="1"]:after {
    width: 20%;
} /* 星1 */
.star5_rating[data-rate="0"]:after {
    width: 0%;
} /* 星0 */
/* e ★５の表示 */

.detail__review-comment {
    margin-left: 4rem;
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 16px;
}

.detail__review-image {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 4rem;
}

.detail__review-image img {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ddd;
}
/* e detail */

/* s reservation */
.shop__reservation {
    position: relative;
    width: 50vw;
    height: 35rem;
    background-color: #305dff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    margin: 13vh 5vw 5vh 8vw;
    border-radius: 5px;
}

.reservation__title {
    color: #fff;
    font-size: 1.5rem 1.5rem 0.3rem 1.5rem;
    font-weight: bold;
    margin: 1.5rem;
}

.alert__info {
    font-size: 1rem;
    padding: 0 10px;
    color: #fff;
    font-weight: bold;
    margin-left: 1rem;
}

.form {
    display: block;
    margin-left: 1.5rem;
    margin-top: 1rem;
    border-radius: 3px;
    border: none;
    height: 2rem;
    padding: 0rem 0.5rem;
    font-size: 1.2rem;
}

.form__error {
    height: 18px;
    font-size: 1.2rem;
    color: #fff;
    text-align: left;
    margin-left: 1.5rem;
}

.reservation__date {
    display: inline-block;
    width: 40%;
    padding-left: 0.7rem;
}

.reservation__time {
    width: 90%;
}

.reservation__number {
    width: 90%;
}

.available {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    right: 5%;
    top: 17%;
    color: #fff;
    background-color: #4d7fff;
    padding: 8px;
    border-radius: 3px;
    font-weight: bold;
}

.wrap__table {
    width: 90%;
    background-color: #4d7fff;
    margin: 2rem 1.5rem 0;
    padding: 1rem;
    color: #fff;
    border-radius: 3px;
}

.reservation__row {
    height: 1.7rem;
    font-size: 1.2rem;
}

.reservation__table {
    width: 100%;
}

.reservation__label {
    width: 32%;
}

.reservation__data {
    width: 68%;
    font-weight: bold;
}

.reservation__button {
    position: absolute;
    bottom: 0%;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #0538ff;
    border-radius: 0 0 5px 5px;
    border: none;
    width: 100%;
    height: 3rem;
}

/* e reservation */
/* 1024px以下 */
@media screen and (max-width: 1024px) {
    .shop__reservation {
        margin: 13vh 2vw 5vh 4vw;
        border-radius: 5px;
    }
}

/* 768px以下 */
@media screen and (max-width: 768px) {
    .detail__container {
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
        margin-bottom: 2rem; /* 画面下に余白を追加 */
    }

    .shop__detail {
        width: 28rem;
        min-height: 35rem;
        background-color: #f2f2f2;
        margin: 5.5rem auto;
    }

    .detail__img img {
        width: 90%;
        height: 45vh;
        object-fit: cover;
    }

    .detail__review {
        margin-left: 0rem;
    }

    .shop__reservation {
        width: 28rem;
        min-height: 35rem;
        background-color: #305dff;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
        margin: 0 auto 2rem; /* 下部に余白を追加 */
        border-radius: 5px;
    }

    .form {
        margin-left: 1rem;
    }

    .wrap__table {
        margin: 2rem 1rem 0;
    }

    .reservation__button {
        height: 4rem;
    }
    .detail__btn-move {
        margin-left: 1rem;
    }

    .detail__content {
        margin-left: 0rem;
    }

    .detail__overview {
        margin-left: 0rem;
    }
    .detail__img {
        margin-left: 1rem;
    }
    .available {
        top: 16%;
    }

    .detail__review-comment {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .detail__review-rating {
        margin-left: 1rem;
    }

    .detail__review-link-all {
        margin-left: 1rem;
    }

    .horizontal-line {
        margin-left: 1rem;
    }

    .horizontal-line--bottom {
        margin-left: 1rem;
    }

    .detail__review-wrapper {
        margin-right: 1rem;
    }
}
/* 480px以下 */
@media screen and (max-width: 480px) {
    .shop__detail {
        width: 22rem;
    }

    .shop__reservation {
        width: 22rem;
    }
}
