.login__content {
    margin: 0 auto;
    padding: 20vh 15px;
    height: 100vh;
    background-color: #f2f2f2;
}

.card {
    margin: 3vh auto;
    height: 16rem;
    width: 25rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border: none;
}

.login-form__heading {
    text-align: left;
    padding: 15px 20px;
    color: #fff;
    background-color: #305dff;
    border-radius: 5px 5px 0 0;
    border: none;
}

.login-form__heading-text {
    font-size: 16px;
}

.form {
    margin: 20px auto;
    width: 100%;
    position: relative;
}

.form__group {
    margin-bottom: 5px;
}

.form__error {
    height: 18px;
    font-size: 14px;
    color: #ff0000;
    width: 80%;
    margin-left: 16%;
    text-align: left;
}

.form__input--text input {
    appearance: none;
    width: 80%;
    height: 36px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    border-radius: 0; 
    margin-left: 1%;
}

.form__input--text::before {
    content: "";
    font-family: "FontAwesome";
    font-size: 1.5rem;
    vertical-align: middle;
    margin-left: 5%;
}

.input__email::before {
    content: "\f0e0";
}

.input__password::before {
    content: "\f023";
    margin-right: 3px;
}

.form__button {
    position: absolute;
    right: 10%;
}

.form__button-submit {
    width: 6rem;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #305dff;
    color: #fff;
    cursor: pointer;
}

/* 768px以下 */
@media screen and (max-width: 768px) {
    .login__content {
        padding: 20vh 0 ;
    }

    .card {
        width: 20rem;
    }
}
