main {
    background-color: #f2f2f2;
}

.container {
    margin: 6rem auto;
}

.card {
    width: 30rem;
}

/* 768px以下 */
@media screen and (max-width: 768px) {
    .card {
        width: 20rem;
    }
}
