.like-button {
    cursor: pointer;
    color: rgb(188, 188, 188);
    font-size: 1rem;
}

.liked {
    font-size: 1rem;
    color: red;
    font-weight: 900;
}

.like__form {
    display: inline-block;
}

.like__form-button {
    background-color: rgb(0,0,0,0);
    border: none;
    padding: 0px;
}
